@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  /* include the pseudo element as well! */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* make use of inheritance - 2 steps see body below! */ }

html {
  font-size: 62.5%;
  /* 1rem = 10px for 16px default browser font-size -> 0.625*16 = 10px */ }

body {
  box-sizing: border-box;
  /* make use of inheritance - 2 steps see * above! */ }

body {
  font-family: "Lato", sans-serif;
  /*will be inherited by all elements*/
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  /*1.7 times the default size*/
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /*prevents a bug in older browsers where the element jumps when animation of children is finished*/
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    /*so that it aligns with the .heading-primary-main*/
    animation: moveInRight 1s ease-out; }

.header {
  height: 95vh;
  /*95% of the viewport height*/
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  /*gradient on top of image*/
  background-size: cover;
  background-position: top;
  position: relative;
  /*necessary so we can adjust the contained elements*/
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  /* https://bennettfeely.com/clippy/ */ }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    /*moves the element 50% from its parent top*/
    left: 50%;
    /*moves the element 50% from its parent left*/
    transform: translate(-50%, -50%);
    /*shifts the element -50% of its width/height*/
    text-align: center; }
